name: Populate

on:
  schedule:
    - cron: '*/5  * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: justlammer/udumbs@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_NAME: ${{ secrets.USERNAME }}
          GITHUB_EMAIL: ${{ secrets.EMAIL }}
